pandas>=2.2.0
numpy>=1.26.3
MetaTrader5>=5.0.45
ta>=0.11.0
pandas-ta>=0.3.14b
backtesting>=0.4.1
scikit-learn>=1.4.0
streamlit>=1.31.0
python-telegram-bot>=21.0
SQLAlchemy>=2.0.27
scipy>=1.12.0
python-dotenv>=1.0.0
cryptography>=41.0.0
